/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 75px 1fr 300px;
    grid-template-areas:
      "header header"
      "main sidenav" 
      "footer footer";
    height: 100vh;
    padding: 0 100px;
  }

  /* Give every child element its grid name */
  .welcome-header {
    grid-area: header;
    background-color: #648ca6;
  }

  .logodiv {
    grid-area: logodiv;
    background-color: #394263;
  }

  .sidenav {
    grid-area: sidenav;
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.5fr;
    grid-template-rows: 1/7fr 1/7fr 1/7fr 1/7fr 1/7fr 1/7fr;
    grid-template-areas:
      "codemonBelt codemonBelt codemonBelt"
      "codemon1Num codemon1Img codemon1Name"
      "codemon2Num codemon2Img codemon2Name"
      "codemon3Num codemon3Img codemon3Name"
      "codemon4Num codemon4Img codemon4Name"
      "codemon5Num codemon5Img codemon5Name"
      "codemon6Num codemon6Img codemon6Name";
    height: 100%;
    background-color: #E5C900;
  }

  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }

  .quiz-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: .20fr .40fr .40fr;
    grid-template-areas:
      "quizHeader quizHeader"
      "questionA questionB" 
      "questionC questionD";
    /* height: 100%; */
    grid-gap: 0.5rem;
    background-color: #ADD19E;
  }

  .caught-num {

  }

  div.card {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
  }

  div.card-header {
    padding: .5 rem;
  }

  .card-body {
    padding: .75rem;
    /* background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125); */
}

.blockquote {
  font-size: .75rem;
}

  .caught-img {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .caught-name {
    
  }

  body {
    font-size: 0.75rem;
    background-color: black;
  }
